/* PC */
@media (min-width: 1024px) {
    #header .btn-menu {
        display: none;
    }
}


@media (max-width: 1023px) {
    .social-list {
        font-size: 36px;
    }

    #footer p,
    #footer a {
        padding: 24px 8px;
        font-size: 20px;
    }

}

/* Tablet*/
@media (min-width: 740px) and (max-width: 1023px){
    #header .btn-menu {
        display: none;
    }

    #content .contact-infor {
        line-height: 2;
    }   
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .center {
        text-align: center !important;
    }
    
    .mt4 {
        margin-top: 4px !important;
    }

    .mt15 {
        margin-top: 15px !important;
    }

    .mt30 {
        margin-top: 30px !important;
    }

    .contact-items {
        margin-top: 4px;
        width: 100%;
    }

    #header {
        overflow: hidden;
    }
    #header .btn-search {
        display: none;
    }

    #header .btn-menu {
        display: block;
    }

    #nav li {
        display: block;
    }   

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    #buy-ticket {
        font-size: 18px;
    }

    .contact-form .form-control {
        font-size: 18px;
    }

    #footer .social-list i[class*="fa-"] {
        font-size: 30px;
    }
}