@media (min-width: 1024px) {
    #header .btn-menu {
        display: none;
    }
}


@media (min-width: 740px) and (max-width: 1023px){
    #header .btn-menu {
        display: none;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .member-items {
        margin-top: 30px;
        width: 100%;
    }

    .tour-items {
        margin-top: 15px;
        width: 100%;
    }

    #header {
        overflow: hidden;
    }
    #header .btn-search {
        display: none;
    }

    #header .btn-menu {
        display: block;
    }

    #nav li {
        display: block;
    }   

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }
}