/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Vị trí
2. Kích thước
3. Màu sắc 
4. Kiểu dáng 
*/

/* Common */
.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

/* Main */
#main {
    
}

#header {
    height: 46px;
    background-color: #000;   
    z-index: 1; 
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    list-style-type: none;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li > a {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header .search {
    float: right;
    padding: 0 21px;
}

#header .search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .fa-search {
    color: #fff;
    line-height: 46px;
    font-size: 15px;
}    

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* bg img/ bg position/ bg size / bg repeat */
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;;
}

#slider .text-description {
    margin-top: 24px;
    font-size: 15px;
}


.fa-caret-down {
    font-size: 18px;
}

#content .content-section {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 60px 20px;
    width: 800px;
}


#content .section-heading {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}

#content .section-sub-heading {
    font-style: italic;
    font-size: 15px;
    opacity: 0.60;
    margin: 15px 0;
}

#content .about-text {
    text-align: justify;
    box-sizing: inherit;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-img {
    margin-top:15px;
    width: 154px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
    text-align: left;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
}

.tickets-list .quantity {
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;    
    margin-top: -3px;
}

/* Places */
#content .places-list {
    margin-top: 32px;
    margin-bottom: 48px;
}


#content .place-img:hover {
    opacity: 0.6;
}

#content .place-img {
    display: block;
    width: 100%;
}

#content .place-body {
    background-color: #fff;
    line-height: 1.5;
    text-align: left;
    font-size: 15px;
    padding: 0.15px 16px;
    color: #000;
}


#content .place-heading,
#content .place-time,
#content .place-desc {
    margin: 15px 0px;
}

#content .place-heading {
    font-weight: 700;   
    font-size: 15px;
}

#content .place-time {
    color: #757575;
}

#content .place-buy-ticket {
    background-color: #000;
    margin-bottom: 16px;
    font-size: 15px;
    padding: 10px 16px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#content .place-buy-ticket:hover,
#content .btn-send:hover {
    background-color: #ccc;
    color: #000;
}

/* Contact */
#content .contact-list {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    display: flex;
    gap: 167px;
}

#content .contact-inform {
    text-align: left;
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.5;
}

#content .contact-inform a {
    color: #2196F3;
}

#content .contact-form {
    text-align: right;
}

#content .fa-map-marker, 
#content .fa-phone, 
#content .fa-envelope {
    width: 30px;
}

#content .btn-send {
    background-color: #000;
    font-size: 15px;
    padding: 12px 16px;
    margin: 16px 0px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#content .box-name,
#content .box-email,
#content .box-message {
    padding: 12px;
    border: 1px solid #ccc;
}

#content .box-message {
    width: 100%;
    margin-top: 8px;
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalFaceIn ease .5s;
}

.modal-header {
    background-color: #009688;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 130px;
    font-size: 30px;
    color: #fff;
}

.fa-suitcase {
    margin-right: 16px;
}

.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    padding: 18px 14px;
    color: #ccc;
    cursor: pointer;
}

#buy-ticket:hover, 
.close-modal:hover,
.ti-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin: 8px 0px;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    display: block;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-bottom: 24px;
}

#buy-ticket {
    padding: 16px;
    margin: 4px 0px;  
    width: 100%;
    color: #fff;
    background-color: #009688;
    border: none;
    cursor: pointer;
}

.need-modal {
    float: right;
    margin: 15px 16px;
}

.need-modal a {
    color: #2196F3;
}

.close-modal {
    margin: 12px 16px;
    font-size: 15px;
    padding: 12px 16px;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}

.modal.open {
    display: flex;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}